# The name of LLM model to use.
MODEL

#pincone config
PINECONE_REPO_API_KEY
PINECONE_INDEX_NAME
PINECONE_NAMESPACE

#inbox config
PINECONE_INBOX_API_KEY
#GMAIL
PINECONE_GMAIL_INDEX_NAME
PINECONE_GMAIL_NAMESPACE

#HOTMAIL
PINECONE_HOTMAIL_INDEX_NAME
PINECONE_HOTMAIL_NAMESPACE

#ZOHO
PINECONE_ZOHO_INDEX_NAME
PINECONE_ZOHO_NAMESPACE

# The OpenAI API key to use.
OPENAI_API_KEY

# The LLM model to use (hardcode to front-end artifact).
NEXT_PUBLIC_MODEL

# Database URL
DATABASE_URL